.kateegory_btn{
    background-color: #023E8A;
li{
    color: #023E8A;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 18px;
  margin: 10px 0 10px;
  background-color: white; cursor: pointer;
  transition: all 0.3s linear !important; 
}
}

